@media (min-width: 768px){
    #blog-item {
        
        padding: 80px 0;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        max-width: 70%;
        max-height: 70%;
        margin: auto;
        margin-top: 15ch;
    }
    #blog-title {
        text-align: center;
    }
    .blog-content {
        padding: 20px;
    }
}