@media (min-width: 1280px){
    

}


#newsletter_submit_button {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .03em;
    appearance: none;
    padding: 0;
    border: 0;
    background-color: transparent;
}

h5 {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.34;
    text-transform: uppercase;
    letter-spacing: .02em
}
.site-footer-newsletter form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #161618
}

input#input_newsletter{
    font-size: 24px;
    border: 1px solid transparent;
    padding: 4px 0;
}