@media (min-width: 768px){
    .gallery {
      grid-gap: 10px;
      width: 80%;
    }
  }
  
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      max-height: 98%;
    }
    
    .gallery-item {
      position: relative;
      overflow: hidden;
    }
    
    .image {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
    
    .image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .gallery-item:hover .image {
      transform: scale(1.1);
    }
    
    .gallery-item:hover .image-overlay {
      opacity: 1;
    }
    
    .image-title {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .image-description {
      color: #fff;
      font-size: 14px;
      text-align: center;
    }