@media (max-width: 768px){
  .menu-item-close{
    margin-top: 45%;
  }
}
.menu {
  z-index: 1000;
  height: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: fixed;
  top: 50%;
  left: 3%;
  
}

.text-span {
    
    color: #757575;
    letter-spacing: 2.5px;
    font-family: brandon-grotesque, sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  .menu-item-open {
    
    color: #757575;
    letter-spacing: 2.5px;
    font-size: 14px;
    text-decoration: none;
    transform: rotate(-90deg);
  }
  .menu-item-close{
    transform: rotate(-90deg);
    height: 5px;
    margin-left: 2%;
    margin-top: 170px;
  }

  .nav-menu{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding-top: 15%;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-text a {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 16px;
    letter-spacing: 2.5px;
    margin: 0.67em 0;
  }