@media (min-width: 768px){
    .container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 40px;
        padding-right: 24px;
        padding-left: 20px;
    }
    
    .article-item {
        grid-column: span 3;
    }
    h3.article-title {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.6;
    }

    
    
}
.container {
    display: grid;
    padding-left: calc( ((100% - 11 * 40px) / 12) * 3 + (3 * 40px));
    
}

.newsSection-header{
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}

.article-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
h3.article-title {
    font-weight: 400;
    line-height: 1.34;
}
.article-item a {
    color: #fff;
    margin: 23px 0;
}
.article-item svg {
    width: 24px;
    height: 24px;
}